{% extends 'base.html.twig' %}

{% block title %}Add
{% endblock %}

{% block body %}
    <h1>Add</h1>
	<form>
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Name</label>
			<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label">Description</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		</div>
        <button class="btn btn-primary">Add</button>
	</form>
{% endblock %}
